@media screen and (max-width:768px){
   
    .flex {
        flex-direction:column;
        margin:50px 0;
    }
    .flex > div:first-child
    {   
        flex:1;
        margin-right:0;
    }
    
    .flex > div:last-child
    {
        flex:1;
        margin-left:20px;
        text-align:center;
    }

    .social-links {
        justify-content:center;
    }
}
